@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

a,
i {
    color: #fff;
}

.main_box {
    position: relative;
    background: url('background.jpg') right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--shadow);
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: var(--shadow);
}

.sidebar_menu .logo a {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i {
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu a {
    font-size: 20px;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid #fff;
    box-shadow: var(--shadow);
}

.sidebar_menu .social_media {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.sidebar_menu .social_media i {
    padding: 0 6px;
    opacity: 0.6;
    font-size: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
}

.main_box .btn_one i {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .btn_two i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
}

.btn_one i:hover {
    font-size: 29px;
}

.btn_two i:hover {
    font-size: 24px;
}

#check {
    display: none;
}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn_one i {
    opacity: 0;
}