@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --background: #130f0f;
    --accent: #d41515;
}

body{
    font-family: "Playfair Display", serif;
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.btn-animation{
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: white;
    outline-color: white;
    outline-offset: 0;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 500ms cubic-bezier(.36, .63, .5, .73);
}

.btn-animation:hover{
    box-shadow: 0 0 0 2px var(--accent);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: var(--accent);
}

