@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    font-family: "Lato", sans-serif;
}

.navbar_menu{
    background-color: #d4a373;
    padding: 10px;
}

.navbar_nav{
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}


.navbar_nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #3f056e;
}

.navbar_nav .nav-link{
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.nav-link::after,
.nav-link::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all .6s ease-in-out;
}

.nav-link::after{
    top: 0;
    right: 0;
    transform-origin: right;
}

.nav-link::before{
    left: 0;
    bottom: -5px;
    transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before{
    width: 100%;
}
